
body{
   background-color: #000000;
}

.navbar {
   background-color: #000000;
   border-bottom: 1px solid #555; 
 }

/*conteudo*/

 .card{
   text-align: center;
   height: 350px;
   width: 200px;
   border-radius: 30px;
   margin-right: 20px;
   background-color: #333;
   
 }
 .card-img-top{
   text-align: center;
   height: 450px;
   width: 200px;
   border-radius: 30px;
}
#cont{
   margin-top: 300px;
}
.main-title{
   color: aliceblue;
   font-size: 30px;
}

#img1{
   text-align: right;
}

.conteudos{
   display: flex;
   justify-content: center;
}

/*barra de pesquisa*/

.form-inline {
   width: 50%;
   border: black 10px;
}

.input-group {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: #333;
}

.input-group .form-control {
   border-right: 0;
   margin-top: 0;
}

.col-md-8{
  margin-left: 400px;
  margin-bottom: 10px;
  
} 

/**/
h2{
   font-size: 20px;
   color: aliceblue;
   text-decoration:  none;
}
p{
   font-size: 20px;
   color:midnightblue;
}
h1{
   text-transform: none;
   text-decoration: none;
   color: aliceblue;
   list-style: none;
}
.container-fluid{
   width:50% ;
}

.container {
   position: relative;
}
.card {
   position: relative;
   text-align: center;
   color: white;
}
.card-img-top {
   width: 100%;
}
.card h2, .card p {
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 0;
   font-size: 24px;
  
   padding: 10px;
}
.card p {
   top: 90%; /* Ajusta a posição do parágrafo */
}

/**/
